.navbarprop{
    margin: 50px  50px  0 50px;
    width: 90%;
    box-shadow:  0 6px 24px 0 rgba(0, 0, 0, 0.952);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(161, 161, 161));
    position: fixed;
    top: 12px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
   

}

.navbar-nav{
   
    width: 100%;
   
}
.nav-item{
    
    margin: 20px 4%;
    width: 100%;
    
    

}

.logo{
    padding: 10px 0 1px 0;
    margin: 0 4% ;
    width: 80px;
    height: 100px;
  

}



.nav-link{
    margin: 20px 4%; 
    width: 100%;
   
    size: 100%;
}

@media (max-width: 991px){
    .logo{
        width: 70px ;
        height: 70px;
        margin: 0 0 0 10%;

    }
    .nav-link{
        margin: 1px 4%; 
        width: 90%;
        
    }
    .navbarprop{
        width: 80%;
        box-shadow:  0 6px 24px 0 rgba(255, 1, 1, 0.952);
        background-image: linear-gradient(rgb(250, 70, 85), rgba(58, 38, 5, 0.808));
       }
    .foto-grid{
        grid-column: 1/2;
    }
    
}

footer{
    
    background-color: black;
}

.iconos{
    
    width: 35px ;
}

.contenedor-iconos{
    display: flex;
    justify-content: center;
    justify-content: space-between;

}



.Copyright{
    font-family:'Courier New', Courier, monospace;
    margin: 50px 80px 30px  80px;
}
  

.ducati{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}


.grid-container{
    display: grid;
   
    grid-template-rows: 50px 50px 50px 50px 50px  50px 50px 50px 50px  ;
    grid-template-columns: 1fr 1fr;
 
}

.grid-item{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

} 

.foto-grid{
    grid-row: 1/10;
}

.dialogo-grig{
    background-image: linear-gradient(rgb(172, 29, 41), rgba(5, 3, 1, 0.808));
    grid-row: -8/-1;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario{
    
    background-color: rgb(80, 0, 0);
    box-shadow:  0 6px 24px 0 rgb(109, 4, 4);
    border: 1px solid rgb(95, 6, 6);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: -1;
 
}

.imgformulario{
    position: relative;
    z-index: -1;
}

.terminoscondiciones{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: antiquewhite;
}
.btn{
  border: 1px solid rgb(72, 255, 0);
  background-color: rgb(9, 255, 0);
}



.bodycontacto{
    background-color: black;
}


.grid-container-contacto{
    display: grid;

    grid-template-columns: 1fr 1fr 2fr 1fr ;
    grid-template-rows: 300px 200px 400px;
}



.tercera-grilla{
    grid-column: 3/5;
    grid-row: 1/3;
}

.sexta-grilla{
    grid-column: 1/3;
    grid-row: 3/6;
}

.septima-grilla{
    grid-column: 2/4;
    grid-row: 3/6;
}
